<!DOCTYPE html>
<html>
<head>
  <title>BackchannelTrial</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style rel="stylesheet" type="text/css" media="screen">
    fieldset {
    background-color:  #add8e6;
    border:  1px solid #ccc;
    margin:  0.3em 0;
    padding:  0.3em;
    }
    </style>
</head>
<body>

<fieldset>
<h1>Backchannel Application</h1>
</fieldset>

<br />
<p align="right">
  <font color="#4169e1">
<%= session[:name].to_s %> </font>
&nbsp&nbsp
  <%= link_to 'Posts', "/posts"%>
  &nbsp&nbsp
  <% if session[:name]!=nil%>
<%= link_to 'Sign Out', users_logout_path%>
  <%else%>
<%= link_to 'Sign In', "/users#index"%>
 <% end %>

</p>
<p>
<!--Search:-->
&nbsp&nbsp
  <%= form_tag :action=>'searchByUser', :controller => 'posts'  do %>


Search by User
<%= text_field("search_user","username",:size=>"20" ) %>

<input type="submit" value=" Search " />


<% end -%>
       <br />

    <%= form_tag :action=>'searchByText', :controller => 'posts'  do %>


Search by Text
<%= text_field("search_user","username",:size=>"20" ) %>

<input type="submit" value=" Search " />


<% end -%>


</p>

<br />

<% if session[:admin].to_s == "Admin" %>
<h3 align="center">Admin Dashboard</h3>
<p align="center">
<%= link_to 'Users', users_showallusers_path %>
<%= link_to 'Reports', posts_report_path %>
<% end %>
</p>

<br /><br />

<%= yield %>

</body>
</html>
